@import "tailwindcss";
@plugin "daisyui";

h1 {
	@apply text-4xl font-serif font-medium mb-8;
}

h2 {
	@apply text-2xl font-serif font-medium mt-8 mb-4;
}

.title-highlight {
	@apply italic text-[#8BA888];
}
